# Node & Expo
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
/ios
/android
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# OS & Editor
.DS_Store
Thumbs.db
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.vscode/
.idea/
